html{
    background-color: chartreuse;
    color: #333;
}

body {
    font-family: 'Courier New', sans-serif;
}

h1 {
    font-family: 'Fascinate Inline', sans-serif;
    text-align: center;
    color: #333;
}

.recipe-links {
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* colors */
    background-color: #FFF;
    color: #000;
}