html{
    background-color: chartreuse;
    color: #333;
}

body {
    font-family: 'Courier New', sans-serif;
    font-size: 20px;
}

h1 {
    font-family: 'Fascinate Inline', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #333;
}

h2 {
    font-family: 'Fascinate Inline', sans-serif;
    font-size: 35px;
    text-align: center;
    color: #333;
}

a{
    /* layout */
    border: #000 1px solid;
    border-radius: 10px;
    padding: 10px;
    /* text */
    text-decoration: none;
    /* colors */
    background-color: #FFF;
    color: #000;
}

.recipe-links {
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.recipe-links li{
    list-style: none;;
}